$primary: #f24535;
$on-primary: #fff;
$text: #000;

$background: #fff;

$selection: $primary;
$on-selection: $on-primary;

$error: $primary;
$on-error: $on-primary;

$start-button-height: 60px;
$default-transition: all 200ms;

@mixin has-hover {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: 639px) {
		@content;
	}
}
