$primary: #f24535;
$on-primary: #fff;
$text: #000;

$selection: $primary;
$on-selection: $on-primary;

$error: $primary;
$on-error: $on-primary;

$start-button-height: 60px;
$default-transition: all 200ms;