@import './variables';

#game {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	top: 100%;
	overflow: hidden;
	position: absolute;
	background-color: $primary;
	transition: top 500ms;

	&.playing {
		top: 0;
	}

	.invisible {
		opacity: 0;
	}

	#result {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.kana {
		font-family: 'Noto Sans JP';
	}

	#timebar {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 10px;

		#progress {
			width: 0;
			height: 10px;
			background-color: $on-primary;
		}
	}

	#close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 16px;
		font-size: 200%;
		line-height: 1;
		user-select: none;
		cursor: pointer;
		z-index: 100;
		color: $text;
		transition: $default-transition;
		&:hover {
			color: $on-primary;
		}
	}
}
