@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Nunito:wght@500&display=swap');
@import './variables.scss';

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Nunito, sans-serif;
	font-weight: bold;
	color: $text;
	background-color: $background;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&.mobile {
		kana-game {
			.exit-button:active:after {
				color: $on-primary;
			}
		}
	}
}

.kana {
	font-family: 'Noto Sans JP';
	font-weight: 700;
}

.btn {
	cursor: pointer;
	user-select: none;
	text-transform: uppercase;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: $default-transition;

	&.btn-primary {
		padding: 8px 26px;
		margin: 0 10px;
		background-color: $on-primary;
		color: $primary;
		border: 2px solid $primary;

		&:active {
			background-color: $primary;
			color: $on-primary;
		}

		@include has-hover {
			&:hover {
				background-color: $primary;
				color: $on-primary;
			}
		}

		@include mobile {
			font-size: 1.1em;
			padding: 12px 26px;
		}
	}
}

number-input {
	position: relative;
	padding: 0;
	display: flex;
	justify-content: stretch;
	align-items: stretch;

	input[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
		margin: 0 20px;
		flex: 1;
		border: none;
		text-align: center;
		outline: none;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	div[action='down'],
	div[action='up'] {
		position: absolute;
		background: $on-primary;
		color: $text;
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		transition: $default-transition;

		&:active {
			background-color: $primary;
			color: $on-primary;
		}

		@include has-hover {
			&:hover {
				background-color: $primary;
				color: $on-primary;
			}
		}
	}

	div[action='down'] {
		left: 0;
	}

	div[action='up'] {
		right: 0;
	}
}

#start-button {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	height: $start-button-height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $primary;
	color: $on-primary;
	transition: all 200ms;
	border-top: 2px solid $background;

	@include has-hover {
		&:hover {
			font-size: 160%;
			padding: 30px 0;
			height: $start-button-height * 1.4;
		}
	}

	@include mobile {
		font-size: 160%;
		padding: 30px 0;
		height: $start-button-height * 1.4;
	}
}

#error {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: opacity 500ms;
	background-color: $error;
	color: $on-error;
	user-select: none;
	pointer-events: none;
	padding: 10px 0;
	border-bottom: 2px solid $background;

	&.visible {
		transition: opacity 250ms;
		opacity: 1 !important;
	}
}

#fork-on-github {
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	color: $text;
	margin: 10px;
	font-size: 20px;
	transform: $default-transition;

	&:active {
		color: $primary;
	}

	@include has-hover {
		&:hover {
			color: $primary;
		}
	}
}

.exit-button {
	position: absolute;
	padding: 16px;
	top: 0;
	right: 0;
	cursor: pointer;

	&:after {
		content: '\00D7';
		display: inline-block;
		font-size: 200%;
		line-height: 1;
		color: $text;
		transition: $default-transition;
	}

	&:active:after {
		color: $on-primary;
	}

	@include has-hover {
		&:hover:after {
			color: $on-primary;
		}
	}
}
