@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Nunito:wght@500&display=swap');
@import './_variables.scss';

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Nunito, sans-serif;
	font-weight: bold;
	color: $text;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.kana {
	font-family: 'Noto Sans JP';
	font-weight: 700;
}

.btn {
	cursor: pointer;
	user-select: none;
	text-transform: uppercase;
	padding: 8px 26px;
	margin: 0 10px;
	box-sizing: border-box;
	text-align: center;

	&.btn-primary {
		background-color: $on-primary;
		color: $primary;
		border: 2px solid $primary;

		&:hover {
			background-color: $primary;
			color: $on-primary;
		}
	}
}

number-input {
	position: relative;
	padding: 0;
	display: flex;
	justify-content: stretch;
	align-items: stretch;

	input[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
		margin: 0 20px;
		flex: 1;
		border: none;
		text-align: center;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	div[action='down'],
	div[action='up'] {
		position: absolute;
		background: $on-primary;
		color: $text;
		width: 20px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;

		&:hover {
			background-color: $primary;
			color: $on-primary;
		}
	}

	div[action='down'] {
		left: 0;
	}

	div[action='up'] {
		right: 0;
	}
}

#error {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: opacity 1500ms 500ms;
	background-color: $error;
	color: $on-error;
	user-select: none;
	padding: 10px 0;

	&.visible {
		transition: opacity 250ms;
		opacity: 1;
	}
}
