@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

html,
body,
#game {
	display: flex;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.invisible {
	opacity: 0;
}

#game {
	justify-content: center;
	align-items: center;
}

#result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kana {
	font-family: 'Noto Sans JP';
}
