@import './variables';

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	height: calc(100% - $start-button-height);

	& > .content {
		padding: 40px 10px 0px 10px;

		h1 {
			color: $primary;
		}

		h2 {
			margin: 1em 0;
		}

		#kanas {
			display: flex;
			flex-direction: column;

			.kana-panel {
				display: flex;
				flex-direction: column;
				justify-content: stretch;

				table {
					background-color: $primary;

					td {
						cursor: pointer;
						user-select: none;
						text-align: center;
						background-color: $on-primary;
						width: 36px;
						height: 36px;
						transition: $default-transition;
					}

					thead td {
						font-size: 90%;
						font-weight: bold;
						text-transform: uppercase;
						background-color: $on-primary;
					}

					tbody td {
						color: rgba($text, 0.6);

						&:hover {
							color: $text;
						}

						&.selected {
							background-color: $selection;
							color: $on-selection;
							&:hover {
								background-color: darken($selection, 20);
							}
						}
					}
				}

				.filters {
					margin: 20px 0;
					display: flex;
					justify-content: center;
				}
			}
		}
	}

	#options {
		display: flex;
		flex-direction: column;

		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.option {
				display: flex;
				justify-content: start;
				align-items: center;
				& > * {
					margin: 0.4em;
				}
			}

			.input {
				box-sizing: border-box;
				text-align: center;
				width: 120px;
				height: 38px;
				font-size: 100%;
				font-weight: bold;
				border: 2px solid $primary;
				& > * {
					font-size: 100%;
					font-weight: bold;
				}
			}
		}
	}

	#start-button {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		height: $start-button-height;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $primary;
		color: $on-primary;
		transition: all 200ms;
		&:hover {
			font-size: 160%;
			padding: 30px 0;
			height: $start-button-height * 1.4;
		}
	}
}
