@import './variables';

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	height: 100%;

	h1 {
		color: $primary;
	}

	h2 {
		margin: 1em 0;
	}

	#kanas {
		display: flex;
		flex-direction: column;

		table {
			background-color: $primary;

			td {
				cursor: pointer;
				user-select: none;
				text-align: center;
				background-color: $on-primary;
				width: 36px;
				height: 36px;
			}

			thead td {
				font-size: 90%;
				font-weight: bold;
				text-transform: uppercase;
				background-color: $on-primary;
			}

			tbody td {
				color: rgba($text, 0.6);
			}

			.selected {
				background-color: $selection;
				color: $on-selection;
			}
		}

		.filters {
			margin: 20px 0;
			display: flex;
			justify-content: center;
		}
	}

	#options {
		display: flex;
		flex-direction: column;
		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.option {
				display: flex;
				justify-content: start;
				align-items: center;
				& > * {
					margin: 0.4em;
				}
			}

			.input {
				box-sizing: border-box;
				text-align: center;
				width: 120px;
				height: 38px;
				font-size: 100%;
				font-weight: bold;
				border: 2px solid $primary;
			}
		}
	}

	#start-button {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $primary;
		transition: all 250ms;
		&:hover {
			font-size: 120%;
			color: $on-primary;
			padding: 30px 0;
		}
	}
}
