#parameters {
	h2 {
		color: red;
	}

	table {
		.selected {
			background-color: red;
		}

		td {
			cursor: pointer;
			user-select: none;
			padding: 4px;
		}

		thead td {
			border: 1px solid red;
		}
	}

	.filters {
		margin-top: 20px;
	}
}
